---
interface Props {
  size: "small" | "regular" | "large";
  fill?: string;
  color?: string;
}

const { size, fill, color } = Astro.props;

---

<div class="chip" class:list={[size]} style={`${fill && 'background-color:' + fill + ';'}${fill && 'color:' + color + ';'}`}>
    <slot>I'm a chip!</slot>
</div>

<style is:inline>
    .small {
        font-size: calc(1rem / 16 * 14);
    }

    .regular {
        font-size: 1rem;
    }

    .large {
        font-size: calc(1rem / 16 * 18);
    }

    .chip {
        line-height: 100%;
        width: fit-content;
        height: fit-content;
        padding: .25em .4em;
        border-radius: .25em;
    }
</style>