<footer>
    <p>
        Made by <a href="https://mortenmyrstad.no">Morten Myrstad</a> © 2025
    </p>
</footer>

<style>
    footer {
        width: 100%;
        max-width: 71rem;
        margin: 0 auto;
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--neutral-900);
        color: var(--neutral-100);

        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;

        z-index: 1;
    }

    a {
        color: inherit;
    }
</style>