---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>404</h1>
    <p>Page not found</p>
    <a href="/">Homepage</a>
    <br>
    <a href="mailto:post@mortenmyrstad.no">Notify me for errors</a>
</Layout>